@using WebStore.Models
@model dynamic
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main">
    <div class="inner">
        <h1>About Us</h1>

        <div class="image main">
            <img src="/images/banner-image-1-1920x500.jpg" class="img-fluid" alt="" />
        </div>

        <p>Book Online Store là một cửa hàng sách trực tuyến với sứ mệnh mang sự tiện lợi đến mọi độc giả.</p>
        <p>Chúng tôi tin rằng hiệu sách là yếu tố cần thiết cho một nền văn hóa lành mạnh. 
        Đó là nơi tác giả có thể kết nối với độc giả, nơi chúng tôi khám phá những nhà văn mới, 
        nơi trẻ em bị cuốn hút vào cảm giác hồi hộp khi đọc có thể kéo dài suốt đời. 
        Họ cũng là nơi neo đậu cho các khu dân cư và cộng đồng của chúng tôi.</p>
    </div>
</div>