@using WebStore.Models
@model dynamic
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main">
    <div class="inner">
        <h1>Contact Us</h1>
        <span class="image main"><img src="/images/map.jpg" alt="" /></span>
    </div>
    <h2>Contact Info</h2>
    <ul class="alt">
        <li><span class="fa fa-envelope-o"></span> book_online_store@gmail.com</li>
        <li><span class="fa fa-phone"></span> 0987654321 </li>
        <li><span class="fa fa-map-pin"></span> 212 Barrington Court New York, ABC 10001 United States of America</li>
    </ul>
</div>

